@import "../app/variables";

.responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  border: 2px solid $turquoise;
  border-radius: 10px;

  @media (max-width: 800px) {
    max-height: 120px;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  text-align: center;
  border-collapse: collapse;

  th {
    color: $white;
    background-color: $turquoise;
    padding: 17px 27px;
    position: -webkit-sticky;
    position: sticky;
    left: 0;

    @media (max-width: 800px) {
      position: relative;
    }
  }

  td {
    padding: 17px 27px;
    border-right: 2px solid rgba(148, 148, 148, 0.4);

    @media (max-width: 800px) {
      border: 0;
    }
  }
}
