$black: #000000;
$white: #FFFFFF;
$turquoise: #029491;

$yellow: #FFB64F;
$lightBlue: #7CE3E1;
$skyBlue: #3BA5E0;
$azure: #5970FF;
$btnGray: #D2D2D2;
$lightGray: #C7C7C7;
$labelGray: #949494;
$gray: rgba(217, 217, 217, 0.4);
$grayText: rgba(0, 0, 0, 0.4);
$green: #8AC540;